<!DOCTYPE html>
<html>
  <head>
	<title>my resume</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href='http://fonts.googleapis.com/css?family=Fruktur' rel='stylesheet' type='text/css'>
	<link href='/stylesheets/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
  </head>
  <body>
  <!--Header-->
      <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
       <div class="container">
        <div class="navbar-header">
        	<a href="/" class="navbar-brand bt">我的家乡</a>
        </div>
        <ul class="nav navbar-nav">
        	<li class="active"><a href="##">首页</a></li>
        	<li><a href="##">旅游景点</a></li>
        	<li><a href="##">风土人情</a></li>
          <li><a href="##">美食特产</a></li>
        	<li class="dropdown">
        	   <a href="##" data-toggle="dropdown" class="dropdown-toggle">关于作者<span class="caret"></span></a>
        	   <ul class="dropdown-menu">
        	   	  <li><a href="##">我的简历</a></li>
        	   	  <li><a href="##">我的规划</a></li>
        	   	  <li><a href="##">我的家乡</a></li>
        	   </ul>
        	</li>
          <li class="header-signin"><a href="login">登录</a></li>
          <li class="header-signup"><a href="register">注册</a></li>
        </ul>
        </div>
    </div>
    <br><br>
<!-- 左侧导航-->
    <div class="menuContent">
      <div class="item a">
      <a href="#">
        <div class="">
            <p class="group">旅游景点</p>
            <p class="detail"><a href="##">敦煌莫高窟&nbsp;&nbsp;</a><a href="##">丝绸之路</a></p>
        </div>
      </a>
      </div>
    
      <div class="item b">
      <a href="#">
        <div>
           <p class="group">风土人情</p>
           <p class="detail"><a href="##">aaaa&nbsp;&nbsp;</a><a href="##">bbb</a></p>
        </div>
        </a>
      </div>
    
      <div class="item c">
      <a href="">
        <div>
          <p class="group">美食特产</p>
          <p class="group"><a href="##">cccc&nbsp;&nbsp;</a><a href="##">ddddd</a></p>
        </div>
        </a>
      </div>
 
      <div class="item d">
      <a href="">
        <div>
          <p class="group">在线留言</p>
          <p class="detail"><a href="##">axc&nbsp;&nbsp;</a><a href="##">cvb</a></p>
        </div>
        </a>
      </div>




  <!--右侧滚动图片-->
      <div>
    
      </div>
    </div>
   




	<script src="/stylesheets/jquery/dist/jquery.js"></script>
	<script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>

